<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8hR_P5mteQq01rgCAkTdHk5s6HxPZebw</string>
	<key>GCM_SENDER_ID</key>
	<string>288062177944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.example.cashitest</string>
	<key>PROJECT_ID</key>
	<string>cashi-test-kmm</string>
	<key>STORAGE_BUCKET</key>
	<string>cashi-test-kmm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288062177944:ios:475891e7aba7fc393cc6ed</string>
</dict>
</plist>